a.waag {width:22.5%;
display:inline-block;}
header {height:100px;}
nav.senk {display:none;}
nav.waag {padding:10px;
width:100%;
position:fixed;
bottom:0px;
left:0px;}
@media screen and (orientation:
landscape){
#container{
display:flex;
flex-direction:row;}
h1 {font-size:2.5em;}
h2 {font-size:2.0em;}
p {font-size:1.2em;}
a.waag {font-size:1.5em;}
nav.waag {height:50px;}
}
@media screen and (orientation:
portrait){
#container{
display: flex;
flex-direction:column;}
h1 {font-size:3.5em;}
h2 {font-size:2.5em;}
p {font-size:1.5em;}
a.waag {font-size:2.5em;}
nav.waag {height:70px;}
}